{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI Voice API",
    "description": "A sample API that uses a voice API to demonstrate outbound call functionality",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.superdashhq.com/api/"
    }
  ],
    "paths": {
      "/v1/campaigns/createCampaign/{projectID}": {
        "post": {
          "description": "Use this API endpoint to immediately initiate a call or SMS to a specified number.",
          "parameters": [
            {
              "name": "projectID",
              "in": "path",
              "required": true,
              "description": "Your workspace ID or project ID",
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "description": "Details required to initiate the communication",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fromNumber": {
                      "type": "string",
                      "description": "Sender's number"
                    },
                    "toNumber": {
                      "type": "string",
                      "description": "Recipient's number"
                    },
                    "message": {
                      "type": "string",
                      "description": "The message content (Required for SMS)",
                      "nullable": true
                    },
                    "triggerType": {
                      "type": "string",
                      "description": "The type of trigger to initiate the communication",
                      "enum": ["triggerImmediately", "triggerBasedOnCampaign"]
                    },
                    "campaignType": {
                      "type": "string",
                      "description": "The type of campaign",
                      "enum": ["SMS", "CALL", "WHATSAPP"]
                    },
                    "templateName": {
                      "type": "string",
                      "description": "Name of the approved WhatsApp template (Required for WHATSAPP)",
                      "nullable": true
                    },
                    "templateLanguage": {
                      "type": "string",
                      "description": "Language of the template (Required for WHATSAPP)",
                      "nullable": true
                    },
                    "attributes": {
                      "type": "object",
                      "description": "Additional attributes for the communication",
                      "properties": {
                        "customField1": {
                          "type": "string",
                          "description": "Any value you want to dynamically access while placing the call or sending the SMS, like first name, last name, company name, etc."
                        },
                        "customField2": {
                          "type": "string",
                          "description": "Any value you want to dynamically access while placing the call or sending the SMS, like first name, last name, company name, etc."
                        },
                        "customField3": {
                          "type": "string",
                          "description": "Any value you want to dynamically access while placing the call or sending the SMS, like first name, last name, company name, etc."
                        }
                      }
                    }
                  },
                  "required": ["fromNumber", "toNumber", "triggerType", "campaignType"]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Communication initiated successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "msg": {
                        "type": "string",
                        "description": "Confirmation message indicating the call or SMS was placed"
                      }
                    },
                    "example": {
                      "msg": "Campaign created/updated with id: {campaignID}"
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Bad request due to invalid input",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "status": {
                        "type": "integer",
                        "description": "HTTP status code for the error"
                      },
                      "code": {
                        "type": "integer",
                        "description": "Application-specific error code"
                      },
                      "moreInfo": {
                        "type": "string",
                        "description": "URL with more information about the error"
                      }
                    },
                    "example": {
                      "msg": "Error message"
                      }
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "status": {
                        "type": "integer",
                        "description": "HTTP status code for the error"
                      }
                    },
                    "example": {
                      "msg": "API key is not valid"
                    }
                  }
                }
              }
            },
            "402": {
              "description": "Payment error",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "status": {
                        "type": "integer",
                        "description": "HTTP status code for the error"
                      }
                    },
                    "example": {
                      "msg": "Please upgrade your account to continue"
                    }
                  }
                }
              }
            },
            "403": {
              "description": "Forbidden",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "status": {
                        "type": "integer",
                        "description": "HTTP status code for the error"
                      }
                    },
                    "example": {
                      "msg": "API key is not valid"
                    }
                  }
                }
              }
            },
            "500": {
              "description": "Internal server error",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "status": {
                        "type": "integer",
                        "description": "HTTP status code for the error"
                      }
                    },
                    "example": {
                      "msg": "Server Error"
                    }
                  }
                }
              }
            }
          },
          "security": [
            {
              "apiKeyAuth": []
            }
          ]
        }
      },

    "/v1/placeoutboundcall/{projectID}": {
      "post": {
        "description": "Use this API endpoint to immediately initiate a call to a specified number.",
        "parameters": [
          {
            "name": "projectID",
            "in": "path",
            "required": true,
            "description": "Your workspace ID or project ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Details required to initiate the call",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "fromNumber": {
                    "type": "string",
                    "description": "The number from which the call will be placed"
                  },
                  "toNumber": {
                    "type": "string",
                    "description": "The number to which the call will be placed"
                  },
                  "attributes": {
                    "type": "object",
                    "description": "Additional attributes for the call",
                    "properties": {
                      "customField1": {
                        "type": "string",
                        "description": "Any value you want to dynamically access while placing the call, like first name, last name, company name, etc."
                      },
                      "customField2": {
                        "type": "string",
                        "description": "Any value you want to dynamically access while placing the call, like first name, last name, company name, etc."
                      },
                      "customField3": {
                        "type": "string",
                        "description": "Any value you want to dynamically access while placing the call, like first name, last name, company name, etc."
                      }
                    }
                  }
                },
                "required": ["fromNumber", "toNumber"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Call placed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "msg": {
                      "type": "string",
                      "description": "Confirmation message indicating the call was placed"
                    }
                  },
                  "example": {
                    "msg": "Call placed to {toNumber}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request due to invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code for the error"
                    },
                    "code": {
                      "type": "integer",
                      "description": "Application-specific error code"
                    },
                    "moreInfo": {
                      "type": "string",
                      "description": "URL with more information about the error"
                    }
                  },
                  "example": {
                    "msg": "Error message"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code for the error"
                    }
                  },
                  "example": {
                    "msg": "Api key is not valid"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code for the error"
                    }
                  },
                  "example": {
                    "msg": "Please upgrade your account to continue"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code for the error"
                    }
                  },
                  "example": {
                    "msg": "Api key is not valid"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code for the error"
                    }
                  },
                  "example": {
                    "msg": "Server Error"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ]
      }
    },

    "/v1/twilio/startsmsthread/{projectID}": {
      "post": {
        "description": "Use this API endpoint to start a new SMS thread",
        "parameters": [
          {
            "name": "projectID",
            "in": "path",
            "required": true,
            "description": "Your workspace ID or project ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Details required to initiate the SMS thread.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "fromNumber": {
                    "type": "string",
                    "description": "The number from which the SMS will be sent."
                  },
                  "toNumber": {
                    "type": "string",
                    "description": "The number to which the SMS will be sent."
                  },
                  "message": {
                    "type": "string",
                    "description": "The message content."
                  },
                  "attributes": {
                    "type": "object",
                    "description": "Additional attributes for the communication",
                    "properties": {
                      "customField1": {
                        "type": "string",
                        "description": "Any value you want to dynamically access while placing the call or sending the SMS, like first name, last name, company name, etc."
                      },
                      "customField2": {
                        "type": "string",
                        "description": "Any value you want to dynamically access while placing the call or sending the SMS, like first name, last name, company name, etc."
                      },
                      "customField3": {
                        "type": "string",
                        "description": "Any value you want to dynamically access while placing the call or sending the SMS, like first name, last name, company name, etc."
                      }
                    }
                  }
                },
                "required": ["fromNumber", "toNumber", "message"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Communication initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "msg": {
                      "type": "string",
                      "description": "Confirmation message indicating the call or SMS was placed"
                    }
                  },
                  "example": {
                    "msg": "Outbound SMS succesfully sent"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request due to invalid input.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "msg": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "example": {
                    "msg": "To number is required in the request body"
                }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code for the error"
                    }
                  },
                  "example": {
                    "msg": "Api key is not valid"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code for the error"
                    }
                  },
                  "example": {
                    "msg": "Please upgrade your account to continue"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code for the error"
                    }
                  },
                  "example": {
                    "msg": "Api key is not valid"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code for the error"
                    }
                  },
                  "example": {
                    "msg": "Server Error"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ]
      }
    },
    "/v1/twilio/addtosmsthread/{projectID}": {
      "post": {
        "description": "Use this API endpoint to start a new SMS thread",
        "parameters": [
          {
            "name": "projectID",
            "in": "path",
            "required": true,
            "description": "Your workspace ID or project ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Details required to initiate the SMS thread.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "fromNumber": {
                    "type": "string",
                    "description": "The number from which the SMS will be sent."
                  },
                  "toNumber": {
                    "type": "string",
                    "description": "The number to which the SMS will be sent."
                  },
                  "message": {
                    "type": "string",
                    "description": "The message content."
                  },
                  "attributes": {
                    "type": "object",
                    "description": "Additional attributes for the communication",
                    "properties": {
                      "customField1": {
                        "type": "string",
                        "description": "Any value you want to dynamically access while placing the call or sending the SMS, like first name, last name, company name, etc."
                      },
                      "customField2": {
                        "type": "string",
                        "description": "Any value you want to dynamically access while placing the call or sending the SMS, like first name, last name, company name, etc."
                      },
                      "customField3": {
                        "type": "string",
                        "description": "Any value you want to dynamically access while placing the call or sending the SMS, like first name, last name, company name, etc."
                      }
                    }
                  }
                },
                "required": ["fromNumber", "toNumber", "message"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Communication initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "msg": {
                      "type": "string",
                      "description": "Confirmation message indicating the call or SMS was placed"
                    }
                  },
                  "example": {
                    "msg": "Outbound SMS succesfully sent"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request due to invalid input.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "msg": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "example": {
                    "msg": "To number is required in the request body"
                }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code for the error"
                    }
                  },
                  "example": {
                    "msg": "Api key is not valid"
                  }
                }
              }
            }
          },

          "402": {
            "description": "Payment error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code for the error"
                    }
                  },
                  "example": {
                    "msg": "Please upgrade your account to continue"
                  }
                }
              }
            }
          },

          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code for the error"
                    }
                  },
                  "example": {
                    "msg": "Forbidden"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code for the error"
                    }
                  },
                  "example": {
                    "msg": "Server Error"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ]
      }
    }
    
  },
  
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "name": "x-api-key",
        "in": "header"
      }
    }
  }
}
